[submodule "AdaBins"]
	path = AdaBins
	url = https://github.com/shariqfarooq123/AdaBins.git
[submodule "MiDaS"]
	path = MiDaS
	url = https://github.com/isl-org/MiDaS.git
[submodule "pytorch3d-lite"]
	path = pytorch3d-lite
	url = https://github.com/MSFTserver/pytorch3d-lite.git
[submodule "k-diffusion"]
	path = k-diffusion
	url = https://github.com/pietrobolcato/k-diffusion.git
[submodule "taming-transformers"]
	path = taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
